<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html, body {
			height: 100%;
			margin: 0px 0px;
			background-color: #323232;
		}
		.verticalcenter {
			height: 150px;
			width: 400px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -200px;
			margin-top: -75px;
		}
		.btn-warning {
			background-color: #FFA726;
			border-width: 0px;
		}
	</style>
</head>
<body>
<div class="container verticalcenter">
	<div class="row">
		<div class="text-center">

			<form action="/login" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="email" placeholder="Username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password">
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Login</button>
			</form>

			<a href="/signup" style="text-align: right">Signup</a>
		</div>
	</div>
</div>
</body>
</html>