@font-face {
  font-family: 'rsu_textregular';
  src: url("../fonts/rsu_text_regular-webfont.eot");
  src: url("../fonts/rsu_text_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rsu_text_regular-webfont.woff2") format("woff2"), url("../fonts/rsu_text_regular-webfont.woff") format("woff"), url("../fonts/rsu_text_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rsuregular';
  src: url("../fonts/rsu_regular-webfont.eot");
  src: url("../fonts/rsu_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rsu_regular-webfont.woff2") format("woff2"), url("../fonts/rsu_regular-webfont.woff") format("woff"), url("../fonts/rsu_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'rsuregular'; }

.header {
  width: 100%;
  background-color: #3498db;
  position: fixed;
  z-index: 1000; }

.weblogo {
  color: white;
  font-size: 2.5em;
  padding: 0.3em;
  padding-left: 0.5em; }
  .weblogo a {
    text-decoration: none;
    color: white; }

.space-top {
  padding-top: 5em; }

.side-style {
  z-index: 0;
  position: relative;
  padding-top: 1em; }

.active {
  background-color: #75b9e7; }
  .active a {
    color: white !important; }

.content {
  height: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 2em;
  font-family: 'rsu_textregular'; }

.head-chat {
  font-size: 2.4em; }

hr {
  border-top: 1px solid #3498db; }

.theme-color {
  color: #3498db; }

#messages {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2em;
  padding-bottom: 4em; }

.myMessage {
  text-align: right; }

.msgOwner {
  font-size: 2em;
  background-color: #3498db;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: white;
  overflow: hidden;
  text-shadow: 0px 0px #217dbb, 1px 1px #217dbb, 2px 2px #217dbb, 3px 3px #217dbb, 4px 4px #217dbb, 5px 5px #217dbb, 6px 6px #217dbb, 7px 7px #217dbb, 8px 8px #217dbb, 9px 9px #217dbb, 10px 10px #217dbb, 11px 11px #217dbb, 12px 12px #217dbb, 13px 13px #217dbb, 14px 14px #217dbb, 15px 15px #217dbb, 16px 16px #217dbb, 17px 17px #217dbb, 18px 18px #217dbb, 19px 19px #217dbb, 20px 20px #217dbb, 21px 21px #217dbb, 22px 22px #217dbb, 23px 23px #217dbb, 24px 24px #217dbb, 25px 25px #217dbb, 26px 26px #217dbb, 27px 27px #217dbb, 28px 28px #217dbb, 29px 29px #217dbb, 30px 30px #217dbb, 31px 31px #217dbb, 32px 32px #217dbb, 33px 33px #217dbb, 34px 34px #217dbb, 35px 35px #217dbb, 36px 36px #217dbb, 37px 37px #217dbb, 38px 38px #217dbb, 39px 39px #217dbb, 40px 40px #217dbb, 41px 41px #217dbb, 42px 42px #217dbb, 43px 43px #217dbb, 44px 44px #217dbb, 45px 45px #217dbb, 46px 46px #217dbb, 47px 47px #217dbb, 48px 48px #217dbb, 49px 49px #217dbb, 50px 50px #217dbb, 51px 51px #217dbb, 52px 52px #217dbb, 53px 53px #217dbb, 54px 54px #217dbb, 55px 55px #217dbb, 56px 56px #217dbb, 57px 57px #217dbb, 58px 58px #217dbb, 59px 59px #217dbb, 60px 60px #217dbb, 61px 61px #217dbb, 62px 62px #217dbb, 63px 63px #217dbb, 64px 64px #217dbb, 65px 65px #217dbb, 66px 66px #217dbb, 67px 67px #217dbb, 68px 68px #217dbb, 69px 69px #217dbb, 70px 70px #217dbb, 71px 71px #217dbb, 72px 72px #217dbb, 73px 73px #217dbb, 74px 74px #217dbb, 75px 75px #217dbb, 76px 76px #217dbb, 77px 77px #217dbb, 78px 78px #217dbb, 79px 79px #217dbb, 80px 80px #217dbb, 81px 81px #217dbb, 82px 82px #217dbb, 83px 83px #217dbb, 84px 84px #217dbb, 85px 85px #217dbb, 86px 86px #217dbb, 87px 87px #217dbb, 88px 88px #217dbb, 89px 89px #217dbb, 90px 90px #217dbb, 91px 91px #217dbb, 92px 92px #217dbb, 93px 93px #217dbb, 94px 94px #217dbb, 95px 95px #217dbb, 96px 96px #217dbb, 97px 97px #217dbb, 98px 98px #217dbb, 99px 99px #217dbb, 100px 100px #217dbb, 101px 101px #217dbb, 102px 102px #217dbb, 103px 103px #217dbb, 104px 104px #217dbb, 105px 105px #217dbb, 106px 106px #217dbb, 107px 107px #217dbb, 108px 108px #217dbb, 109px 109px #217dbb, 110px 110px #217dbb, 111px 111px #217dbb, 112px 112px #217dbb, 113px 113px #217dbb, 114px 114px #217dbb, 115px 115px #217dbb, 116px 116px #217dbb, 117px 117px #217dbb, 118px 118px #217dbb, 119px 119px #217dbb, 120px 120px #217dbb, 121px 121px #217dbb, 122px 122px #217dbb, 123px 123px #217dbb, 124px 124px #217dbb, 125px 125px #217dbb, 126px 126px #217dbb, 127px 127px #217dbb, 128px 128px #217dbb, 129px 129px #217dbb, 130px 130px #217dbb, 131px 131px #217dbb, 132px 132px #217dbb, 133px 133px #217dbb, 134px 134px #217dbb, 135px 135px #217dbb, 136px 136px #217dbb, 137px 137px #217dbb, 138px 138px #217dbb, 139px 139px #217dbb, 140px 140px #217dbb, 141px 141px #217dbb, 142px 142px #217dbb, 143px 143px #217dbb, 144px 144px #217dbb, 145px 145px #217dbb, 146px 146px #217dbb, 147px 147px #217dbb, 148px 148px #217dbb, 149px 149px #217dbb, 150px 150px #217dbb, 151px 151px #217dbb, 152px 152px #217dbb, 153px 153px #217dbb, 154px 154px #217dbb, 155px 155px #217dbb, 156px 156px #217dbb, 157px 157px #217dbb, 158px 158px #217dbb, 159px 159px #217dbb, 160px 160px #217dbb, 161px 161px #217dbb, 162px 162px #217dbb, 163px 163px #217dbb, 164px 164px #217dbb, 165px 165px #217dbb, 166px 166px #217dbb, 167px 167px #217dbb, 168px 168px #217dbb, 169px 169px #217dbb, 170px 170px #217dbb, 171px 171px #217dbb, 172px 172px #217dbb, 173px 173px #217dbb, 174px 174px #217dbb, 175px 175px #217dbb, 176px 176px #217dbb, 177px 177px #217dbb, 178px 178px #217dbb, 179px 179px #217dbb, 180px 180px #217dbb, 181px 181px #217dbb, 182px 182px #217dbb, 183px 183px #217dbb, 184px 184px #217dbb, 185px 185px #217dbb, 186px 186px #217dbb, 187px 187px #217dbb, 188px 188px #217dbb, 189px 189px #217dbb, 190px 190px #217dbb, 191px 191px #217dbb, 192px 192px #217dbb, 193px 193px #217dbb, 194px 194px #217dbb, 195px 195px #217dbb, 196px 196px #217dbb, 197px 197px #217dbb, 198px 198px #217dbb, 199px 199px #217dbb, 200px 200px #217dbb; }

.msgName {
  text-align: center;
  color: #3498db;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 1.5em; }

.msgBody-left {
  background-color: #e6e6e6;
  border-radius: 20px;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  position: relative; }

.msgBody-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 17px 9px 0;
  border-color: transparent #e6e6e6;
  display: block;
  width: 0;
  z-index: 1;
  left: -17px;
  top: 14px; }

.msgBody-left-unread {
  background-color: #8bc4ea;
  border-radius: 20px;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  position: relative; }

.msgBody-left-unread:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 17px 9px 0;
  border-color: transparent #8bc4ea;
  display: block;
  width: 0;
  z-index: 1;
  left: -17px;
  top: 14px; }

.msgBody-right {
  background-color: #e6e6e6;
  border-radius: 20px;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  position: relative; }

.msgBody-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 17px;
  border-color: transparent #e6e6e6;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 12px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clear {
  clear: both; }

.msgbox {
  position: fixed;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  padding-left: 1.5em;
  bottom: 0;
  z-index: 1000;
  width: 75%;
  background-color: #f2f2f2;
  text-align: center;
  display: inline-block; }
  .msgbox input {
    width: 70%;
    font-size: 1.5em;
    border: 0px solid white;
    background-color: transparent;
    border-bottom: 2px solid #cccccc;
    outline: none; }
  .msgbox input:focus {
    border-bottom: 2px solid #999999; }

.sendButton {
  content: '\2191';
  font-size: 2em;
  background-color: #3498db;
  border-radius: 50px;
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  color: white;
  overflow: hidden;
  text-shadow: 0px 0px #217dbb, 1px 1px #217dbb, 2px 2px #217dbb, 3px 3px #217dbb, 4px 4px #217dbb, 5px 5px #217dbb, 6px 6px #217dbb, 7px 7px #217dbb, 8px 8px #217dbb, 9px 9px #217dbb, 10px 10px #217dbb, 11px 11px #217dbb, 12px 12px #217dbb, 13px 13px #217dbb, 14px 14px #217dbb, 15px 15px #217dbb, 16px 16px #217dbb, 17px 17px #217dbb, 18px 18px #217dbb, 19px 19px #217dbb, 20px 20px #217dbb, 21px 21px #217dbb, 22px 22px #217dbb, 23px 23px #217dbb, 24px 24px #217dbb, 25px 25px #217dbb, 26px 26px #217dbb, 27px 27px #217dbb, 28px 28px #217dbb, 29px 29px #217dbb, 30px 30px #217dbb, 31px 31px #217dbb, 32px 32px #217dbb, 33px 33px #217dbb, 34px 34px #217dbb, 35px 35px #217dbb, 36px 36px #217dbb, 37px 37px #217dbb, 38px 38px #217dbb, 39px 39px #217dbb, 40px 40px #217dbb, 41px 41px #217dbb, 42px 42px #217dbb, 43px 43px #217dbb, 44px 44px #217dbb, 45px 45px #217dbb, 46px 46px #217dbb, 47px 47px #217dbb, 48px 48px #217dbb, 49px 49px #217dbb, 50px 50px #217dbb, 51px 51px #217dbb, 52px 52px #217dbb, 53px 53px #217dbb, 54px 54px #217dbb, 55px 55px #217dbb, 56px 56px #217dbb, 57px 57px #217dbb, 58px 58px #217dbb, 59px 59px #217dbb, 60px 60px #217dbb, 61px 61px #217dbb, 62px 62px #217dbb, 63px 63px #217dbb, 64px 64px #217dbb, 65px 65px #217dbb, 66px 66px #217dbb, 67px 67px #217dbb, 68px 68px #217dbb, 69px 69px #217dbb, 70px 70px #217dbb, 71px 71px #217dbb, 72px 72px #217dbb, 73px 73px #217dbb, 74px 74px #217dbb, 75px 75px #217dbb, 76px 76px #217dbb, 77px 77px #217dbb, 78px 78px #217dbb, 79px 79px #217dbb, 80px 80px #217dbb, 81px 81px #217dbb, 82px 82px #217dbb, 83px 83px #217dbb, 84px 84px #217dbb, 85px 85px #217dbb, 86px 86px #217dbb, 87px 87px #217dbb, 88px 88px #217dbb, 89px 89px #217dbb, 90px 90px #217dbb, 91px 91px #217dbb, 92px 92px #217dbb, 93px 93px #217dbb, 94px 94px #217dbb, 95px 95px #217dbb, 96px 96px #217dbb, 97px 97px #217dbb, 98px 98px #217dbb, 99px 99px #217dbb, 100px 100px #217dbb, 101px 101px #217dbb, 102px 102px #217dbb, 103px 103px #217dbb, 104px 104px #217dbb, 105px 105px #217dbb, 106px 106px #217dbb, 107px 107px #217dbb, 108px 108px #217dbb, 109px 109px #217dbb, 110px 110px #217dbb, 111px 111px #217dbb, 112px 112px #217dbb, 113px 113px #217dbb, 114px 114px #217dbb, 115px 115px #217dbb, 116px 116px #217dbb, 117px 117px #217dbb, 118px 118px #217dbb, 119px 119px #217dbb, 120px 120px #217dbb, 121px 121px #217dbb, 122px 122px #217dbb, 123px 123px #217dbb, 124px 124px #217dbb, 125px 125px #217dbb, 126px 126px #217dbb, 127px 127px #217dbb, 128px 128px #217dbb, 129px 129px #217dbb, 130px 130px #217dbb, 131px 131px #217dbb, 132px 132px #217dbb, 133px 133px #217dbb, 134px 134px #217dbb, 135px 135px #217dbb, 136px 136px #217dbb, 137px 137px #217dbb, 138px 138px #217dbb, 139px 139px #217dbb, 140px 140px #217dbb, 141px 141px #217dbb, 142px 142px #217dbb, 143px 143px #217dbb, 144px 144px #217dbb, 145px 145px #217dbb, 146px 146px #217dbb, 147px 147px #217dbb, 148px 148px #217dbb, 149px 149px #217dbb, 150px 150px #217dbb, 151px 151px #217dbb, 152px 152px #217dbb, 153px 153px #217dbb, 154px 154px #217dbb, 155px 155px #217dbb, 156px 156px #217dbb, 157px 157px #217dbb, 158px 158px #217dbb, 159px 159px #217dbb, 160px 160px #217dbb, 161px 161px #217dbb, 162px 162px #217dbb, 163px 163px #217dbb, 164px 164px #217dbb, 165px 165px #217dbb, 166px 166px #217dbb, 167px 167px #217dbb, 168px 168px #217dbb, 169px 169px #217dbb, 170px 170px #217dbb, 171px 171px #217dbb, 172px 172px #217dbb, 173px 173px #217dbb, 174px 174px #217dbb, 175px 175px #217dbb, 176px 176px #217dbb, 177px 177px #217dbb, 178px 178px #217dbb, 179px 179px #217dbb, 180px 180px #217dbb, 181px 181px #217dbb, 182px 182px #217dbb, 183px 183px #217dbb, 184px 184px #217dbb, 185px 185px #217dbb, 186px 186px #217dbb, 187px 187px #217dbb, 188px 188px #217dbb, 189px 189px #217dbb, 190px 190px #217dbb, 191px 191px #217dbb, 192px 192px #217dbb, 193px 193px #217dbb, 194px 194px #217dbb, 195px 195px #217dbb, 196px 196px #217dbb, 197px 197px #217dbb, 198px 198px #217dbb, 199px 199px #217dbb, 200px 200px #217dbb;
  margin-bottom: 0.5em;
  border: 0px solid white;
  outline: none; }
  .sendButton :hover {
    background-color: #5faee3; }

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 5em;
  position: relative;
  z-index: 0;
  bottom: 0; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #e1f0fa;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.5em; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0.3em;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav ul {
  list-style: none;
  padding-left: 0px; }

.sidebar-nav ul li {
  padding-left: 40px; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li:hover {
  background: #8bc4ea; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #8bc4ea; }

.sidebar-nav li ul li:hover {
  text-decoration: none;
  color: #fff;
  background: #8bc4ea; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li ul li {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }

  #wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6em;
  background-color: #f5f5f5; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 3px;
  background-color: #ddd; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #ddd; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3498db; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #3498db; }

/*# sourceMappingURL=style.css.map */
